<%form_for @post, :url => { :controller => :test, :action => :save } do |f|%>
  <p>
    <%=f.error_messages%>
  </p>
  <p>
    <%=f.label :subject%><br/>
    <%=f.text_field :subject%>
  </p>
  <p>
    <%=f.label :body%><br/>
    <%=f.text_area :body%>
  </p>
  <p>
    <%=f.label :subscribers%><br/>
    <%=f.text_field :subscribers%>
  </p>
  <p>
    <%=f.submit%>
  </p>
<%end%>
