<%= form_for @post, :url => url_for(:action => 'proc_form') do |f| %>
  <input type="hidden" name="hidden_name" value="hidden_value" />
  
  <p>
    <%= f.label :subject %><br/>
    <%= f.text_field :subject %>
  </p>
  
  <p>
    <%= f.select :subscribers, [["one", '1'], ['two', '2']] %>
  </p>
  
  <%= f.submit 'submit' %>
<%end%>
